<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr id="cont">
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight No</th>
            <th>Departs</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
          <tr id="info">
            <th><%= f.airline %></th>
            <th><%= f.airport %></th>
            <th><%= f.flightNo %></th>
            <th><%= f.departs %></th>
            <th><a href="/flights/<%= f.id %>"><button type="submit">Details</button></a></th>
            <th>
                <form action="/flights/<%= f.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button id="delete-button" type="submit">X</button>
                </form>
            </th>
          </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>